.header-upper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin header-menu-item($url, $image-width, $image-height) {
  width: 3.7em;
  height: 4.44em;
  background-image: $url;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $image-width $image-height;
  border: 1px solid #f1f1f1;
  border-top: none;
}

.header-upper__content {
  @include header-menu-item(url(.././img/header/rectangle.png), 2em, 1.125em);
}

.header-upper__folder {
  @include header-menu-item(url(.././img/header/folder.png), 1.25em, 1.125em);
}

.header-upper__settings {
  @include header-menu-item(url(.././img/header/settings.png), 1.3em, 1.1em);
}

.header-upper__upload {
  @include header-menu-item(url(.././img/header/upload.png), 1.25em, 1.125em);
}

.header-upper__mail {
  @include header-menu-item(url(.././img/header/envelope.png), 1.25em, 0.75em);
}

.header-upper__planet {
  @include header-menu-item(url(.././img/header/planet.png), 1.25em, 1.25em);
}

.header-upper__search {
  width: 25em;
  height: 2.8em;
  border-radius: 1.67em;
  border-color: #c8c8c8;
}

.header-upper__search::placeholder {
  padding-left: 0.7em;

  @include adoptive-font(12, 10);
  color: #c8c8c8;
}

.header-upper__search-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.header-upper__person {
  @include adoptive-font(13, 10);
  font-weight: 600;
  color: #fd7858;
}

.header-upper__role {
  @include adoptive-font(10, 10);
  color: #bfbfbf;
}

.header-upper__user-container {
  display: flex;
  flex-direction: column;
  padding-left: 18px;
}

.header-upper__person {
  padding-top: 14px;
  margin: 0;
}

.header-upper__more {
  width: 5px;
  height: 18px;
  margin-left: 49px;
  margin-right: 18px;
  background-color: #bfbfbf;
}

/* Header-bottom */
.header-bottom__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.category {
  @include adoptive-font(12, 11);
  color: #777777;
  font-weight: 600;
}

.total {
  @include adoptive-font(20, 14);
  color: #fd7858;
  font-weight: 600;
}

.total--up,
.total--down {
  @include adoptive-font(12, 10);
  color: #bfbfbf;
  font-weight: 600;
}

.change-container {
  display: flex;
  justify-content: space-around;
}

.header-bottom__add {
  color: #fd7858;
}

.change-triangle--up {
  padding-top: 6px;
  width: 0px;
  height: 0px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 5px solid #a889e9;
}

.change-triangle--down {
  margin-top: 6px;
  width: 0px;
  height: 0px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #fd5670;
}
