@import ".././config/variables";
@import ".././config/mixins";



.nav-logo{
    width: 2.4em;
    height: 2.4em;
    background-color: #ffffff;
    @include adoptive-font(30, 20);
    color:#FD7858;
    text-align: center;
}

.nav-list{
   padding: 0 0 0 0.3em;
   flex-grow: 1;
  
   
}

.nav-list__link{
    @include adoptive-font(10, 10);
    color: #FFFFFF;
    text-decoration: none;
    
}

.nav-list__item{
    list-style:none;
    margin-bottom: 1.88em;
}

.nav-list__item:first-child::before{
  @include nav-logo-menu(url(.././img/nav/home.png), 35%, 1.25em, 1.13em);
   
}

.nav-list__item:nth-child(2)::before{
    @include nav-logo-menu(url(.././img/nav/chart.png), 32%, 1.25em, 1.13em)
}

.nav-list__item:nth-child(3)::before{
    
    @include nav-logo-menu(url(.././img/nav/user.png),38%, 1em, 1.13em);

}

.nav-list__item:nth-child(4)::before{
    @include nav-logo-menu(url(.././img/nav/settings.png), 35%, 1.25em, 1.25em);
    
}

.nav-list__item:nth-child(5)::before{
    @include nav-logo-menu(url(.././img/nav/information.png), 36%, 1.25em, 1.13em)
}

.nav-power-button{
    align-self: center;
    background-image: url(.././img/nav/power-button.png);
    width: 1.25em;
    height: 1.25em;
    margin-bottom: 1.2em;
}

.hamburger{
    position:absolute;
    right:50px;
    top:21px;
    width:50px;
    height:5px;
    background-color: black;
    @include md{
            display: none;
    }
}

.hamburger::before{
    position:absolute;
    right:0px;
    top:14px;
    width:50px;
    height:5px;
}

.hamburger::after{
    position:absolute;
    right:0px;
    top:28px;
    width:50px;
    height:5px;
}